.wrapper {
  width: 1226px;
  margin: 0 auto;
}
.ellipsis {
  margin: 0 10px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* 头部模块 */
.header .home_strt_nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color: #424242;
  font-size: 12px;
}
.header .home_strt_nav .wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header .home_strt_nav .wrapper .left {
  display: flex;
  justify-content: left;
}
.header .home_strt_nav .wrapper .left a {
  font-size: 12px;
  color: #b0b0b0;
}
.header .home_strt_nav .wrapper .left a:hover {
  color: #fff;
}
.header .home_strt_nav .wrapper .left span.sep {
  margin: 0 5px;
}
.header .home_strt_nav .wrapper .right {
  display: flex;
  justify-content: space-between;
}
.header .home_strt_nav .wrapper .right a {
  padding: 0 5px;
  color: #b0b0b0;
}
.header .home_strt_nav .wrapper .right a:hover {
  color: #fff;
}
.header .home_strt_nav .wrapper .right > span {
  margin: 0 5px;
  color: #424242;
}
.header .home_strt_nav .wrapper .right .cart {
  width: 120px;
  background-color: #424242;
  margin-left: 15px;
  color: #b0b0b0;
  cursor: pointer;
}
.header .home_strt_nav .wrapper .right .cart i {
  margin-right: 4px;
  line-height: 20px;
  font-size: 20px;
  vertical-align: -3px;
}
.header .home_site_header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header .home_site_header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .home_site_header .wrapper .header_logo {
  flex: 1;
}
.header .home_site_header .wrapper .header_logo .logon {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url(../images/logo.png) no-repeat center / contain;
}
.header .home_site_header .wrapper .header_nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header .home_site_header .wrapper .header_nav ul {
  display: flex;
  justify-content: space-between;
}
.header .home_site_header .wrapper .header_nav ul li {
  height: 110px;
  line-height: 110px;
  padding: 0 10px;
}
.header .home_site_header .wrapper .header_search {
  display: flex;
  align-items: center;
}
.header .home_site_header .wrapper .header_search.action {
  border: 1px solid #ff6700;
}
.header .home_site_header .wrapper .header_search form {
  position: relative;
  width: 296px;
  line-height: 50px;
  height: 50px;
}
.header .home_site_header .wrapper .header_search form input[type="text"] {
  width: 240px;
  height: 100%;
  padding: 0 0 0 10px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s;
}
.header .home_site_header .wrapper .header_search form input[type="text"].action {
  border: 1px solid #ff6700;
  border-right: 0;
}
.header .home_site_header .wrapper .header_search form button {
  float: right;
  width: 54px;
  height: 100%;
  background-color: #fff;
  font-size: 24px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  transition: all 0.3s;
}
.header .home_site_header .wrapper .header_search form button.action {
  border: 1px solid #ff6700;
}
.header .home_site_header .wrapper .header_search form button:hover {
  background-color: #ff6700;
  color: #fff;
}
.header .home_site_header .wrapper .header_search form .keyword {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  width: 242px;
  background-color: #fff;
  border: 1px solid #ff6700;
  border-top: 0;
}
.header .home_site_header .wrapper .header_search form .keyword li {
  height: 30px;
  line-height: 30px;
}
.header .home_site_header .wrapper .header_search form .keyword li:hover {
  background-color: #fafafa;
}
.header .home_site_header .wrapper .header_search form .keyword li a {
  padding: 6px 15px;
  font-size: 12px;
  color: #424242;
}
.header .home_site_header .wrapper .nav_menu {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  border-top: 1px solid #e0e0ee;
  text-align: center;
  transition: all 0.4s;
}
.header .home_site_header .wrapper .nav_menu.action {
  display: block;
  height: 230px;
}
.header .home_site_header .wrapper .nav_menu ul {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
}
.header .home_site_header .wrapper .nav_menu ul li {
  position: relative;
  width: 204px;
  height: 100%;
  padding: 15px 12px 0;
}
.header .home_site_header .wrapper .nav_menu ul li:nth-child(n+2):before {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color: #e0e0ee;
  margin: 0 20px;
}
.header .home_site_header .wrapper .nav_menu ul li a {
  font-size: 12px;
}
.header .home_site_header .wrapper .nav_menu ul li a:hover {
  color: #000;
}
.header .home_site_header .wrapper .nav_menu ul li a .image {
  width: 160px;
  height: 110px;
  margin: 0 10px 16px;
}
.header .home_site_header .wrapper .nav_menu ul li a .image:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.header .home_site_header .wrapper .nav_menu ul li a .price {
  line-height: 20px;
  color: #ff6700;
}
/* 工具栏区域 */
.tools_bar {
  position: fixed;
  bottom: 40px;
  right: 0;
  z-index: 10;
  width: 84px;
  height: 561px;
  text-align: center;
}
.tools_bar .tools a {
  display: block;
  padding: 18px 0;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s;
}
.tools_bar .tools a .iconfont {
  width: 30px;
  height: 30px;
  margin: 8px auto;
  font-size: 28px;
}
.tools_bar.min {
  width: 28px;
  height: 261px;
  bottom: 40px;
}
.tools_bar.min a {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2px 0;
  text-align: center;
}
.tools_bar.min a .iconfont {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.tools_bar.min span {
  display: none;
  position: relative;
  position: absolute;
  top: 15px;
  left: -72px;
  width: 65px;
  height: 22px;
  line-height: 22px;
  background-color: #fff;
  padding: 0 8px;
  font-size: 12px;
}
.tools_bar.min span::before {
  content: '';
  position: absolute;
  top: 8px;
  right: -10px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px;
  border-color: transparent transparent #fff;
  border-style: solid;
  transform: rotate(90deg);
}
.tools_bar .back_top {
  margin-top: 14px;
}
/* 网页底部模块 */
.footer .wrapper .footer_service ul {
  border-bottom: 1px solid #e0e0e0;
}
.footer .wrapper .footer_service ul li {
  float: left;
  width: 242px;
  height: 25px;
  line-height: 25px;
  margin: 27px 0;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  transition: all 0.3s;
}
.footer .wrapper .footer_service ul li:first-child {
  border-left: 0;
}
.footer .wrapper .footer_service ul li a {
  font-size: 16px;
}
.footer .wrapper .footer_service ul li a em {
  font-size: 24px;
  margin-right: 4px;
  vertical-align: -4px;
}
.footer .wrapper .footer_links {
  padding: 40px 0 0 128px;
}
.footer .wrapper .footer_links .col_links {
  float: left;
  width: 160px;
}
.footer .wrapper .footer_links .col_links dt {
  margin: 0 0 26px;
}
.footer .wrapper .footer_links .col_links dt a {
  color: #757575;
}
.footer .wrapper .footer_links .col_links dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer .wrapper .footer_links .col_contact {
  float: right;
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}
.footer .wrapper .footer_links .col_contact .phone {
  font-size: 22px;
  color: #ff6700;
}
.footer .wrapper .footer_links .col_contact .date {
  font-size: 12px;
  margin: 0 0 5px;
  color: #616161;
}
.footer .wrapper .footer_links .col_contact a {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #ff6700;
  font-size: 12px;
  color: #ff6700;
  transition: all 0.4s;
}
.footer .wrapper .footer_links .col_contact a:hover {
  background-color: #ff6700;
  color: #fff;
}
.footer .wrapper .footer_info {
  padding: 30px 0;
}
.footer .wrapper .footer_info .wrapper {
  width: 100%;
  height: 156px;
}
.footer .wrapper .footer_info .wrapper .logo {
  float: left;
  width: 56px;
  height: 56px;
  margin-right: 20px;
}
.footer .wrapper .footer_info .wrapper .info_text {
  float: left;
  width: 1149px;
}
.footer .wrapper .footer_info .wrapper .info_text p {
  font-size: 12px;
  color: #b0b0b0;
}
.footer .wrapper .footer_info .wrapper .info_text p:last-child a {
  color: #b0b0b0;
}
.footer .wrapper .footer_info .wrapper .info_text p a {
  color: #757575;
  font-size: 12px;
}
.footer .wrapper .footer_info .wrapper .info_text p span {
  margin: 0;
  color: #b0b0b0;
}
.footer .wrapper .footer_info .wrapper .info_links {
  height: 28px;
  padding-left: 77px;
}
.footer .wrapper .footer_info .wrapper .info_links a {
  display: inline-block;
  width: 83px;
}
.footer .wrapper .footer_info .slogan {
  width: 100%;
  height: 20px;
  background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png') no-repeat center 0;
  margin-top: 30px;
}
